@model Entities.Products.Whiskey

@{
    ViewBag.Title = "Details";
}

<!--=================== Main Content Container ===================-->
<main class="product-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index","Whiskey")" class="raleway-light">Whiskeys<i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">@Html.DisplayFor(model => model.Name)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Product Section ===================-->
    <section class="single-product paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="paira-product single-varients-product">
                        <div class="row">
                            <div class="single-product-image col-md-9 col-sm-9 col-xs-9 paira-single-product-image">
                                <img src=@Html.DisplayFor(model => model.PhotoUrl) alt="" class="paira-product-image img-rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 product-dtl">
                    <div class="product-detles">
                        <div class="pro-content">
                            <div class="pro-body">
                                <div class="bottom-img">
                                    <div class="info">
                                        <h2 class="raleway-light full-width text-capitalize margin-top-20">@Html.DisplayFor(model => model.Name)</h2>
                                        <p class="margin-top-15 letter-spacing-2">@Html.DisplayFor(model => model.Description)</p>
                                        <div class="sub-totals paira-margin-top-1 full-width pull-left">
                                            <h4 class="font-size-16 letter-spacing-2 pull-left">
                                                <label class="text-uppercase pull-left margin-right-10"><b>Price : </b></label>
                                            </h4>
                                            <h3 id="subtotal" class="money margin-left-5 pull-left raleway-sbold">@Html.DisplayFor(model => model.Price)€</h3>
                                        </div>
                                        <div class="btn-group paira-margin-top-1 half-width pull-left" role="group"
                                             aria-label="Basic example">
                                            <button type="button" class="btn btn-default btn-lg btn-image"><img src="~/Content/images/cart-3.png" alt=""></button>
                                            <a href="@Url.Action("Buy", "Cart", new { id = Model.Id })" class="btn btn-default btn-lg color-scheme-2 raleway-light text-uppercase">add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {



}