@model Web.Models.IndexViewModel

<p class="text-success">@ViewBag.StatusMessage</p>
<section class="main-slider paira-padding-bottom-1 paira-animation-container">
    <div class="container">
        <div>
            <img style="display:block; margin-left:auto; margin-right:auto;" class="form-group paira-margin-bottom-1" src="/Content/images/hedding.png">

            <h4 style="text-align:center; margin-left:auto; margin-right:auto; font-size:26px;">Here you can manage your account settings</h4>

            <div class="row">
                <table class="table" style="margin-top:50px; margin-bottom:200px;">
                    <thead>
                        <tr style="font-size:18px">
                            <th>Password</th>
                            <th>External Logins: @Model.Logins.Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="font-size:16px">
                            <td style="text-shadow: 1px 1px 2px grey;">
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                            </td>
                            <td style="text-shadow: 1px 1px 2px grey;">@Html.ActionLink("Manage", "ManageLogins")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>









@*<dl class="">
    <dt class="col-sm-2" style="font-size:18px;">Password</dt>
    <dd class="col-sm-10">

        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }

    </dd>
    <dt class="col-sm-2" style="font-size:18px;">External Logins : @Model.Logins.Count </dt>
    <dd class="col-sm-10">
        @Html.ActionLink("Manage", "ManageLogins")
    </dd>
</dl>*@