<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i>
                        <span>Customers</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("CustomerOrders", "Admin")">Orders</a></li>
                    </ul>
                    <ul class="sub">
                        <li><a href="@Url.Action("CustomerInformation", "Admin")">Users Informations</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Categories</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("AllProducts", "Admin")">Products</a></li>                        
                    </ul>
                    <ul class="sub">
                        <li><a href="http://localhost:4200/">Angular All Products</a></li>                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-plus"></i>
                        <span>Create</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("CreateProduct", "ProductCreate")">Product</a></li>                        
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home"></i>
                        <span>Home Page</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
