<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="@Url.Action("Index", "Dashboard")">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i>
                        <span>Customers</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("Orders", "Customers")">Orders</a></li>
                        <li><a href="@Url.Action("Users", "Customers")">Users</a></li>
                        <li><a href="@Url.Action("Orders", "Customers")">Users</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Boozes</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("Index", "Products")">Products</a></li>
                        <li><a href="@Url.Action("Create", "Products")">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a target="_blank" href="@Url.Action("Index", "Home")">
                        <i class="fa fa-home"></i>
                        <span>Go to user page</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
