<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="@Url.Action("Dashboard", "Admin")">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-users"></i>
                        <span>Customers</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("CustomerOrders", "Admin")">Orders</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-glass"></i>
                        <span>Categories</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("AllProducts", "Admin")">All Products</a></li>
                        <li><a href="@Url.Action("AllBeers", "Admin")">Beers</a></li>
                        <li><a href="@Url.Action("AllSpirits", "Admin")">Spirits</a></li>
                        <li><a href="@Url.Action("AllWhiskeys", "Admin")">Whiskeys</a></li>
                        <li><a href="@Url.Action("AllWines", "Admin")">Wines</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-plus"></i>
                        <span>Create Product</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("CreateBeer", "ProductCreate")">Create Beer</a></li>
                        <li><a href="@Url.Action("CreateSpirit", "ProductCreate")">Create Spirit</a></li>
                        <li><a href="@Url.Action("CreateWhiskey", "ProductCreate")">Create Whiskey</a></li>
                        <li><a href="@Url.Action("CreateWine", "ProductCreate")">Create Wine</a></li>
                    </ul>
                </li>                
            </ul>
        </div>
    </div>
</aside>
