@model IEnumerable<Entities.Products.Beer>

@{
    ViewBag.Title = "Beers";
}

<!--=================== Main Content Container ===================-->
<main class="list-collection-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index", "Home")" class="raleway-light">Home <i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">Beers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">products</h3>
            </div>
        </div>
    </div>
    <!--=================== big Banner Section ===================-->
    <section class="big-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <img src="~/Theme/OurTemplate/images/banner/banner-1.jpg" class="img-responsive paira-margin-top-1" alt="" />
                    <h1>BEER FOR PARTY</h1>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Latest Product Section ===================-->
    <section class="latest-product text-center paira-margin-bottom-1">
        <div class="container">
            <div class="row">
                <div class="synconis paira-margin-bottom-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4 text-center paira-margin-top-1">
                                <div class="form-group margin-clear">
                                    <h4 class="font-size-18 bold-font pull-left"><label class="text-uppercase"><b>Sort by:</b></label></h4>
                                    <select class="sort-by paira-filter-category">
                                        <option value="#">Name(A-Z)</option>
                                        <option value="#">Name(Z-A)</option>
                                        <option value="#">Price(↑)</option>
                                        <option value="#">Price(↓)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 paira-margin-top-1 pull-right">
                                <div class="form-group margin-clear pull-right list-grid margin-top-5 float-0">
                                    <h4 class="font-size-18 bold-font pull-left"><label class="text-uppercase"><b>View :</b></label></h4>
                                    <button data-value="list"><i class="fa fa-th-list fa-2x"></i></button>
                                    <button data-value="grid" class="active list"><i class="fa fa-th fa-2x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 list-view">
                    <div class="product-widget">
                        @foreach (var beer in Model)
                        {
                            <div class="col-sm-3 col-md-3 col-xs-6 paira-margin-top-1">
                                <div class="product text-center">
                                    <div class="block-image position-rela">
                                        <a href="@Url.Action("Details","Beer",new  {id = beer.Id})">
                                            <div class="background-overlay"></div>
                                            <img src=@Html.DisplayFor(modelItem => beer.PhotoUrl) alt="" class="img-responsive" width='300'>
                                        </a>
                                    </div>
                                    <h1 class="font-size-18 paira-margin-top-4 margin-bottom-10"><a href="@Url.Action("Details","Beer",new {id = beer.Id})">@Html.DisplayFor(modelItem => beer.Name)</a></h1>
                                    <span class="money font-size-18"><b class="">@Html.DisplayFor(modelItem => beer.Price)€</b></span>
                                    <p class="text-capitalize margin-top-15 letter-spacing-2">
                                        @Html.DisplayFor(modelItem => beer.Description)
                                    </p>
                                    <div class="product-hover">
                                        <div class="paira-wish-compare-con wish-compare-view-cart paira-margin-top-4">
                                            <a href="@Url.Action("Details","Beer",new {id = beer.Id})" class="product-cart-con margin-left-5  btn color-scheme-2"><img src="~/Content/images/cart-2.png" alt=""></a>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Panigation List Section ===================-->
    <section class="page-list paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination list-inline">
                        <li class="pull-left raleway-light letter-spacing-2 paira-margin-top-1">Showing : <b>1 - 12</b> Of <b>@Model.Count()</b></li>
                        <li class="pull-right">
                            <ul class="list-inline">
                                <li class="disabled letter-spacing-2 paira-margin-top-1"><span>Preview</span></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{

    

}