@model BeverageProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Create a new account";
}

<h2>@ViewBag.Title</h2>

<Main class="register-page">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            <div class="col-md-10">
                <span class="center-block"><label>Username</label></span>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <div class="col-md-10">
                <span class="center-block"><label>Email</label></span>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <div class="col-md-10">
                <span class="center-block"><label>Password</label></span>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <div class="col-md-10">
                <span class="center-block"><label>Confirm Password</label></span>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-0 margin-bottom-4">
                <br />
                <a href="@Url.Action("Login", "Account")" class="btn btn-default btn-lg color-scheme-2 text-uppercase raleway-light margin-left-25 pull-right">Login</a>
                <a class="text-uppercase text-color-black margin-right-5 raleway-light letter-spacing-2 margin-left-25 pull-right">Or</a>
                <input class="btn btn-default btn-lg color-scheme-2 text-uppercase raleway-light margin-left-25 pull-right" type="submit" value="Register" />
            </div>
        </div>
    }
</Main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
