@{
    ViewBag.Title = "Form";
    Layout = "";
}
@using Entities.Items
@*@Html.Partial("~/Views/Checkout/_PayPal.cshtml")*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/Content/images/wine-glass.png" type="image/png" />
    <link href="~/Content/css/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #D0D0D0;
        }

        .row {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE10 */
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%; /* IE10 */
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%; /* IE10 */
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%; /* IE10 */
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: #04AA6D;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn:hover {
                background-color: #45a049;
            }

        span.price {
            float: right;
            color: grey;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <!--=================== Main Slider Section ===================-->
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form action="@Url.Action("CreateOrder","CheckOut")" method="post">
                        <div class="row">
                            <div class="col-50">
                                <div class="row pull-right">
                                    <div class="col-25">
                                        <a href="@Url.Action("Index","Home")" style="color:black; font-size:20px;"><i class="fa fa-backward"></i> Back to home</a>
                                    </div>
                                </div>
                                <h3>Billing Address</h3>
                                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                <input type="text" id="fname" name="fullname" placeholder="Giannis Dimitriou">
                                <label for="email"><i class="fa fa-envelope-o"></i> Email</label>
                                <input type="text" id="email" name="email" placeholder="john@example.com">
                                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                <input type="text" id="adr" name="address" placeholder="Papadiamanti 15, Monastiraki">
                                <label for="city"><i class="fa fa-institution"></i> City</label>
                                <input type="text" id="city" name="city" placeholder="Athens">

                                <div class="row">
                                    <div class="col-50">
                                        <label for="zip"><i class="fa fa-map-marker"></i> Zip</label>
                                        <input type="text" id="zip" name="postalcode" placeholder="10001">
                                    </div>
                                </div>
                                <label for="phone"><i class="fa fa-mobile-phone"></i> Phone Number</label>
                                <input type="text" id="phone" name="phone" placeholder="e.g 6912345678">
                            </div>
                        </div>
                        <label>
                            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                        </label>
                        <div class="row">
                            <div class="col-25">
                                <a href="@Url.Action("PaymentWithPaypal", "Checkout")" class="btn" style="background-color:cornflowerblue">PayPal / Credit Card</a>
                            </div>
                            <div class="col-25">
                                <input type="submit" value="Continue to checkout" class="btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-25">
                @{
                    List<Item> cart = (List<Item>)Session["cart"];
                    var total = cart.Sum(item => item.Product.Price * item.Quantity);
                }
                <div class="container">
                    <h4>
                        Your Cart
                        <span class="price" style="color:black">
                            <b>Items: @cart.Count()</b>
                            <i class="fa fa-shopping-cart"></i>
                        </span>
                    </h4>
                    @foreach (Item item in (List<Item>)Session["cart"])
                    {
                        <span><b>@item.Product.Name</b></span> <span class="text-muted pull-right"><b> Price: @item.Product.Price€</b></span>
                        <br />
                        <b class="text-muted">Kind : @item.Product.GetType().Name</b>
                        <a href="@Url.Action("Remove", "Cart", new { id = item.Product.ProductId })" class="remove"><i class="fa fa-trash-o fa-2x pull-right"></i></a>
                        <br />
                        <b class="text-muted">Quantity : @item.Quantity</b>
                        <hr />
                    }
                    <span class="price" style="color:black"><b name="total">Total: @total€</b></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

@section scripts{
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation')

                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
            }, false)
        }())
    </script>
}
