@model Entities.Orders.Order
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Entities.Items

<style>
    .billing-inputs {
        padding: 40px;
        border: 1px solid #898989;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 0px #403e3e;
        margin:24px;
    }

        .billing-inputs input {
            margin-bottom: 20px;
        }
</style>
@if (((List<Item>)Session["cart"]).Any())
{
    var total = ((List<Item>)Session["cart"]).Sum(item => item.Product.Price * item.Quantity);

    <div class="container">
        <form action="@Url.Action("CreateOrder","CheckOut",new {total = total},null)" method="post" class="form-group">
            <div class="row margin-bottom-40 ">
                <div class="col-md-5 billing-inputs">
                    <h2 class="margin-bottom-20 text-center">Billing Address</h2>
                    <hr />
                    <label for="fname"><i class="fa fa-user"></i> Full Name<span class="text-danger font-size-18">*</span></label>
                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Giannis Dimitriou", id = "fname" })
                    <label for="email"><i class="fa fa-envelope-o"></i> Email<span class="text-danger font-size-18">*</span></label>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", placeholder = "john@example.com" })
                    <label for="adr"><i class="fa fa-address-card-o"></i> Address<span class="text-danger font-size-18">*</span></label>
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "adr", placeholder = "Papadiamanti 15, Monastiraki" })
                    <label for="city"><i class="fa fa-institution"></i> City<span class="text-danger font-size-18">*</span></label>
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "city", placeholder = "Athens" })
                    <label for="zip"><i class="fa fa-map-marker"></i> Zip<span class="text-danger font-size-18">*</span></label>
                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", id = "zip", placeholder = "10001" })
                    <label for="phone"><i class="fa fa-phone"></i> Phone Number<span class="text-danger font-size-18">*</span></label>
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "phone", placeholder = "e.g 6912345678" })
                    <label for="same">Shipping address same as billing</label>
                    <input id="same" type="checkbox" checked="checked" class="checkbox-light">
                </div>
                <div class="col-md-6 billing-inputs">
                    <h2 class="margin-bottom-20 text-center">Products</h2>
                    <hr />
                    @foreach (Item item in (List<Item>)Session["cart"])
                    {
                        <div class="row">

                            <div class="col-md-2">
                                <img src="@item.Product.PhotoUrl" alt="item photo" width="100" />
                            </div>
                            <div class="col-md-6">
                                <p>@item.Product.Name</p>
                                <p>Kind : @item.Product.Kind</p>
                                <strong class="text-muted">Quantity : @item.Quantity</strong>
                            </div>
                            <div class="col-md-4">
                                <p class="font-size-18">Price: @item.Product.Price€</p>
                            </div>
                        </div>
                        <hr />
                    }

                    <div class="row">
                        <h3 name="total" class="text-center margin-bottom-15 margin-top-15">Total: @total€</h3>
                    </div>
                    <div class="text-center">
                        <a href="@Url.Action("PaymentWithPaypal", "Checkout")" class="btn btn-primary pull-left">Pay with PayPal</a>
                        <input type="submit" value="Pay in Cash" class="btn btn-success pull-right">
                    </div>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <div class="container">
        <section class="margin-top-40 text-center">
            <h1>There are no items in the cart!</h1>
            <hr />
            <a href=@Url.Action("Index","Home")><strong>Back To Home</strong></a>
        </section>
    </div>
}

