@model BeverageProject.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<Main class="register-page">
    <section class="login-content paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">@ViewBag.Title</h3>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-contact">
                        <div class="row">
                            <hr />
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                             
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
                                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        <div class="col-md-10">
                                            <span class="center-block"><label>Old <br />Password</label></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
                                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        <div class="col-md-10">
                                            <span class="center-block"><label>New Password</label></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        <div class="col-md-10">
                                            <span class="center-block"><label>Confirm Password</label></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-0 margin-bottom-6 margin-right-5">
                                        <input type="submit" class="btn btn-default btn-lg color-scheme-2 text-uppercase raleway-light pull-right" value="Change password" />
                                    </div>
                              
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
