@model BeverageProject.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}

<img style="display:block; margin-left:auto; margin-right:auto;" class="form-group paira-margin-bottom-1" src="/Content/images/hedding.png">
<h2 style="text-align: center; margin-left:auto; margin-right: auto;">@ViewBag.Title</h2>

<p class="text-info" style="text-align: center; margin-left:auto; margin-right: auto;">
    You do not have a password for this site. Here you can create one.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="container">
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-0 margin-bottom-0">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        <div class="col-md-10">
            <span class="center-block"><label>New Password</label></span>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-0">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        <div class="col-md-10">
            <span class="center-block"><label>Confirm Password</label></span>
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12 paira-margin-top-1 margin-bottom-6 margin-right-5">
        <input type="submit" class="btn btn-default btn-lg color-scheme-2 text-uppercase raleway-light pull-right" value="Set password" />
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}