@model IEnumerable<Entities.Products.Beer>
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        All Products
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category</th>
                                        <th>PhotoUrl</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (var beer in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => beer.Id)</td>
                                            <td>Beer</td>
                                            <td><img src=" @Html.DisplayFor(modelItem => beer.PhotoUrl)" alt=" " class="img-responsive" style="width:50px;" /></td>
                                            <td>@Html.DisplayFor(modelItem => beer.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => beer.Price)</td>
                                            <td>@Html.DisplayFor(modelItem => beer.Description)</td>
                                            <td><span class="btn btn-info">Edit</span><span class="btn btn-danger">Delete</span></td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

@section scripts{

    <script type="text/javascript">
        LoadData();
        function LoadData() {
            var settings = {
                "url": "/api/Beers",
                "method": "GET",
                "timeout": 0,
            };

            $.ajax(settings).done(function (response) {
                console.log(response);

                let beers = response;
                for (let beer of beers) {
                    let template = `
                    <tr>
                        <td>${beer.Id}</td>
                        <td>Beer</td>
                        <td><img src="${beer.PhotoUrl}" alt=" " class="img-responsive" style="width:50px;" /></td>
                        <td>${beer.Name}</td>
                        <td>${beer.Price}</td>
                        <td>${beer.Description}</td>
                        <td>
                             <button class="btn btn-info">Edit</button>
                             <button class="btn btn-danger">Delete</button>
                       </td>
                    </tr>
                  `
                    let element = $(template);

                    element.find(".delete-btn").click(DeleteRow);
                    element.find(".edit1-btn").click(Edit1Row);


                    $("tbody").append(element);
                }
            });
        }
     
    </script>

}