@model IEnumerable<Entities.Orders.Order>
@using Entities
@{
    ViewBag.Title = "CustomerOrders";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Orders
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            <table class="table table-hover" id="example">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.City)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PostalCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            <strong>Products</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <td>                                                
                                                @Html.DisplayFor(modelItem => order.OrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.OrderDate)
                                            </td>
                                            <td>
                                                <strong>
                                                    @Html.DisplayFor(modelItem => order.FullName)
                                                </strong>
                                            </td>
                                            <td>
                                                <strong>
                                                    @Html.DisplayFor(modelItem => order.Address)
                                                </strong>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.City)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.PostalCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => order.Email)
                                            </td>
                                            <td>
                                                
                                                <ul>                                                    
                                                    @foreach (var item in order.Products)
                                                    {
                                                        <li>Product Name :@item.Name Quantity : @item.Quantity</li>
                                                    }
                                                    <li>@order.Total</li>
                                                </ul>
                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>