@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("BeerChart","Charts")" style="color: #767676">Beer Charts</a>
                        </span>
                        Column, Line, Pie
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("SpiritChart","Charts")" style="color: #767676">Spirit Charts</a>
                        </span>
                        Column, Line, Pie
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("Chart","Charts")" style="color: #767676">Whiskey Charts</a>
                        </span>
                        Column, Line, Pie
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("Chart","Charts")" style="color: #767676">Wine Charts</a>
                        </span>
                        Column, Line, Pie
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <section class="panel">
                    <header class="panel-heading">
                        Sales
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="chartJS">
                            <canvas id="bar-chart-js" height="257" width="800"></canvas>
                        </div>
                    </div>
                </section>

            </div>

            <div class="col-md-4">
                <div class="profile-nav alt">
                    <section class="panel">
                        <div class="user-heading alt clock-row terques-bg">
                            <h1>@DateTime.Now.ToString("MMMM")</h1>
                            <p class="text-left">@DateTime.Now.Year, @DateTime.Now.ToString("dddd")</p>
                            <p class="text-left">@DateTime.Now.ToString("HH:mm")</p>
                        </div>
                        <ul id="clock">
                            <li id="sec"></li>
                            <li id="hour"></li>
                            <li id="min"></li>
                        </ul>

                        <ul class="clock-category">
                            <li>
                                <a href="#" class="active">
                                    <i class="ico-clock2"></i>
                                    <span>Clock</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-alarm2"></i>
                                    <span>Alarm</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-stopwatch"></i>
                                    <span>Stop watch</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class=" ico-clock2 "></i>
                                    <span>Timer</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <div class="wdgt-row">
                        <img src="https://cdn.britannica.com/66/102266-050-FBDEFCA1/acropolis-city-state-Greece-Athens.jpg" height="400" alt="">
                        <div class="wdt-head">
                            weather forecast
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row weather-full-info">
                            <div class="col-md-2 today-status">
                                <h1>Today</h1>
                                <i class=" ico-cloudy text-warning"></i>
                                <div class="degree">30</div>
                            </div>
                            <div class="col-md-10">
                                <ul>
                                    <li>
                                        <h2>Monday</h2>
                                        <i class="ico-rainy2 text-primary"></i>
                                        <div class="statistics">20</div>
                                    </li>
                                    <li>
                                        <h2>Tuesday</h2>
                                        <i class="ico-cloudy text-warning"></i>
                                        <div class="statistics">28</div>
                                    </li>
                                    <li>
                                        <h2>Wednesday</h2>
                                        <i class="ico-lightning3 text-primary"></i>
                                        <div class="statistics">21</div>
                                    </li>
                                    <li>
                                        <h2>Thursday</h2>
                                        <i class="ico-sun3 text-warning"></i>
                                        <div class="statistics">31</div>
                                    </li>
                                    <li>
                                        <h2>Friday</h2>
                                        <i class="ico-sun3 text-warning"></i>
                                        <div class="statistics">29</div>
                                    </li>
                                    <li>
                                        <h2>Saturday</h2>
                                        <i class="ico-cloudy text-warning"></i>
                                        <div class="statistics">25</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>
</section>
<!--main content end-->