@model IEnumerable<Entities.Products.Product>

@{
    //ViewBag.Title = "Home Page";
}

<!--=================== Main Content Container ===================-->
<main class="home-page">
    <!--=================== Main Slider Section ===================-->
    <section class="main-slider paira-padding-bottom-1 paira-animation-container">
        <div class="container">
            <div class="row">
                <div id="carousel" class="carousel slide carousel-fade col-md-12 col-xs-12 col-sm-12 col-offset-2">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1"></li>
                        <li data-target="#carousel" data-slide-to="2"></li>
                        <li data-target="#carousel" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="First slide" src="~/Content/images/slider/slider-1.jpg">
                            <div class="container">
                                <div class="carousel-caption carousel-caption1">
                                    <h1 class="text-uppercase paira-animation animated fadeInRight margin-top-0" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.0s">
                                        PEOPLE
                                    </h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.1s">
                                        LIKE
                                    </h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.2s">
                                        WINE
                                    </h1>
                                    <a href='@Url.Action("Index","ProductsView", new {category = "Wine" })' class="btn-border margin-top-20 paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.3s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="Second slide" src="~/Content/images/slider/BeerCarousel.png" />
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1 class="text-uppercase paira-animation animated fadeInRight margin-top-0" data-paira-animation="fadeInRight" data-paira-animation-delay="0.0s">YOU CAN</h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInRight" data-paira-animation-delay="0.1s">DRINK</h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInRight" data-paira-animation-delay="0.2s">BEER</h1>
                                    <a href='@Url.Action("Index","ProductsView", new {category = "Beer" })' class="btn-border margin-top-20 paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.3s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="Third slide" src="~/Content/images/slider/WhiskeyCasourel.png">
                            <div class="container">
                                <div class="carousel-caption carousel-caption1">
                                    <h1 class="text-uppercase paira-animation animated fadeInRight margin-top-0" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.0s">ON THE ROCKS</h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.1s">OR</h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.2s">NEAT</h1>
                                    <a href='@Url.Action("Index","ProductsView", new {category = "Whiskey" })' class="btn-border margin-top-20 paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.3s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="Forth slide" src="~/Content/images/slider/SpiritCasourel.png">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1 class="text-uppercase paira-animation animated fadeInRight margin-top-0" data-paira-animation="fadeInRight" data-paira-animation-delay="0.0s">ENJOY</h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInRight" data-paira-animation-delay="0.1s">WITH</h1>
                                    <h1 class="text-uppercase paira-animation animated fadeInRight" data-paira-animation="fadeInRight" data-paira-animation-delay="0.2s">FRIENDS</h1>
                                    <a href='@Url.Action("Index","ProductsView", new {category = "Spirit" })' class="btn-border margin-top-20 paira-animation animated fadeInRight" data-paira-animation="fadeInLeft" data-paira-animation-delay="0.3s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel" data-slide="prev">
                        <span class="fa fa-chevron-left fa-2x"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel" data-slide="next">
                        <span class="fa fa-chevron-right fa-2x"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Small Banner Section ===================-->
    <section class="parallax parallax-height border-bottom margin-bottom-10">
        <div class="position-r paral">
            <div class="banner-small banner2">
                <div class="container">
                    <hr />
                    <div class="row">
                        <h4 class="paira-margin-bottom-1 paira-margin-top-1 text-uppercase" style="display: inline-block; margin-left: 30px;"><a class="raleway-light">10% for orders over 50€<img alt="" style="height:30px; width:30px;" src="~/Content/images/banner/discaount-1.png"></a></h4>
                        <h4 class="paira-margin-bottom-1 paira-margin-top-1 text-uppercase" style="display: inline-block; margin-left: 30px;"><a class="raleway-light">12% for orders over 100€<img alt="" style="height:30px; width:30px;" src="~/Content/images/banner/discaount-1.png"></a></h4>
                        <h4 class="paira-margin-bottom-1 paira-margin-top-1 text-uppercase" style="display: inline-block; margin-left: 30px;"><a class="raleway-light">15% for orders over 150€<img alt="" style="height:30px; width:30px;" src="~/Content/images/banner/discaount-1.png"></a></h4>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </section>
    <br />
    <!--=================== Latest Product Section ===================-->
    <section class="latest-product text-center paira-padding-bottom-1">
        <div class="container">
            <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
            <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">latest products</h3>
            <div class="row">
                <div class="col-md-12">
                    <img alt="" class="paira-margin-bottom-1">
                </div>
                <div class="product-widget">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3 col-md-3 col-xs-6 paira-margin-top-1 widget">
                            <div class="product text-center">
                                <div class="block-image position-rela">
                                    <a href="#">
                                        <div class="background-overlay"></div>
                                        <img style="width: 320px; height: 260px;" src=@Html.DisplayFor(modelItem => item.PhotoUrl) alt="" class="img-responsive">
                                    </a>
                                </div>
                                <h1 class="font-size-16 paira-margin-top-4 margin-bottom-10"><a href="collection.html">@Html.DisplayFor(modelItem => item.Name)</a></h1>
                                <span class="money font-size-16"><b>@Html.DisplayFor(modelItem => item.Price)€</b></span>
                                <div class="product-hover">
                                    <div class="paira-wish-compare-con wish-compare-view-cart paira-margin-top-4">
                                        <a href="@Url.Action("Details", "ProductsView", new { id = item.ProductId })" class="paira-quick-view quick-view  btn color-scheme-2 font-size-18"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--=================== Small Banner Section ===================-->
    <section class="parallax parallax-height border-bottom paira-margin-bottom-4" style="background: url(/Content/images/banner/parallax.jpg) no-repeat fixed; padding: 200px 0; display: flex; justify-content: center; align-items: center; ">
        <div class="position-r paral">
            <div class="banner-small banner2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="banner-small-back">
                                <img alt="" src="~/Content/images/banner/banner-3.png" class="pull-left">
                                <div class="paira-margin-top-3 pull-left wine-con">
                                    <h1 class="margin-bottom-10 paira-margin-top-1 text-uppercase"><strong>Black wine</strong></h1>
                                    <h4 class="paira-margin-bottom-1 text-uppercase">most popular</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="banner-small-back">
                                <div class="paira-margin-top-3 pull-left wine-con wine-con1">
                                    <h1 class="margin-bottom-10 paira-margin-top-1 text-uppercase"><strong>red wine</strong></h1>
                                    <h4 class="paira-margin-bottom-1 text-uppercase">all customer</h4>
                                </div>
                                <img alt="" src="~/Content/images/banner/banner-2.png" class="pull-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================== Brand Logo Section ===================-->
    <section class="brand text-center paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">Featured brands</h3>
                </div>
                <div class="col-md-12 brand-hover paira-margin-top-1">
                    <div class="paira-brand">
                        <a><img src="~/Content/images/brand/CaptainMorgan.png" alt="" /></a>
                        <a><img style="width:160px;" src="~/Content/images/brand/Tanqueray.png" alt="" /></a>
                        <a><img style="width:230px;" src="~/Content/images/brand/Schneider.png" alt="" /></a>
                        <a><img src="~/Content/images/brand/Woodford.png" alt="" /></a>
                        <a><img src="~/Content/images/brand/Famous.png" alt="" /></a>
                    </div>
                    <div class="brand-button">
                        <button class="paira-brand-left pull-left"><i class="fa fa-angle-left fa-3x"></i></button>
                        <button class="paira-brand-right pull-right"><i class="fa fa-angle-right fa-3x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Packs Section ===================-->
    <section class="instagram  paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">Packs</h3>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6 paira-margin-top-1">
                    <div class="product">
                        <div class="block-image position-rela">
                            <a href="@Url.Action("Index" , "ProductsView", new {category = "Beer" })">
                                <div class="background-overlay1"></div>
                                <img style="height:264px; width:260px;" src="~/Content/images/brand/beers3.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="product-hover">
                            <h3 class="raleway-sbold text-uppercase margin-bottom-10">
                                <a href="@Url.Action("Index" , "ProductsView", new {category = "Beer" })">
                                    Beer Pack
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6 paira-margin-top-1">
                    <div class="product">
                        <div class="block-image position-rela">
                            <a href="@Url.Action("Index","ProductsView", new {category = "Spirit" })">
                                <div class="background-overlay1"></div>
                                <img style="height:264px; width:260px;" src="~/Content/images/brand/spirits.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="product-hover">
                            <h3 class="raleway-sbold text-uppercase margin-bottom-10"><a href="@Url.Action("Index","ProductsView", new {category = "Spirit" })">Spirit Pack</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6 paira-margin-top-1">
                    <div class="product">
                        <div class="block-image position-rela">
                            <a href="@Url.Action("Index","ProductsView", new {category = "Whiskey" })">
                                <div class="background-overlay1"></div>
                                <img style="height:264px; width:260px;" src="~/Content/images/brand/whiskeys.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="product-hover">
                            <h3 class="raleway-sbold text-uppercase margin-bottom-10"><a href="@Url.Action("Index","ProductsView", new {category = "Whiskey" })">Whiskey Pack</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6 paira-margin-top-1">
                    <div class="product">
                        <div class="block-image position-rela">
                            <a href="@Url.Action("Index","ProductsView", new {category = "Wine" })">
                                <div class="background-overlay1"></div>
                                <img style="height:264px; width:260px;" src="~/Content/images/brand/wines.jpg" alt="" class="img-circle">
                            </a>
                        </div>
                        <div class="product-hover">
                            <h3 class="raleway-sbold text-uppercase margin-bottom-10"><a href="@Url.Action("Index","ProductsView", new {category = "Wine" })">Wine Pack</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Blog Section ===================-->
    <section class="blog paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                    <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">Latest Blog</h3>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 paira-margin-top-1">
                    <img alt="" src="~/Content/images/blog/blog-2.jpg" class="img-responsive">
                    <div class="blogs1">
                        <h3 class="text-uppercase margin-bottom-10">05 may</h3>
                        <h4 class="paira-margin-bottom-1"><a href="@Url.Action("BlogDetails", "Home")" class="date raleway-light letter-spacing-2">Types of whiskey</a></h4>
                        <a href="@Url.Action("BlogDetails", "Home")" class="btn-border font-size-12">Read More</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 paira-margin-top-1">
                    <img alt="" src="~/Content/images/blog/blog-1.jpg" class="img-responsive">
                    <div class="blogs">
                        <h3 class="text-uppercase margin-bottom-10">10 april</h3>
                        <h4 class="paira-margin-bottom-1"><a href="@Url.Action("Blog", "Home")" class="date raleway-light letter-spacing-2">The Origin of Wine</a></h4>
                        <a href="@Url.Action("Blog", "Home")" class="btn-border font-size-12">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@if (!this.User.IsInRole("Admin"))
{
    <!--=================== Welcome Newsletter Dialog ===================-->
    <div class="modal fade welcome-newsletter-content" id="paira-welcome-newsletter" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="bottom-im">
                        <div class="welcome-newsletter text-center">
                            <h1 class="paira-margin-bottom-3"><span><em>E-Beverage</em></span></h1>
                            <h4 class="margin-clear padding-clear">As a retailer of beverages, spirits and beer, we require all shoppers to be at least 18 years of age.</h4>
                            <h2 class="paira-margin-bottom-1 padding-clear paira-margin-top-3"><b>ARE YOU 18+?</b></h2>
                            <div class="paira-margin-bottom-1">
                                <a href="#" class="color-scheme-1" data-toggle="modal" data-target="#paira-common-message">No</a>
                                <a href="#" class="color-scheme-2 margin-left-25" data-dismiss="modal" aria-label="Close">Yes</a>
                            </div>
                            <h4 class="paira-margin-top-3 cont-p">You must be of legal drinking age to enter, use this site.</h4>
                            <h4><b>&copy; @DateTime.Now.Year | E-Beverage</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================== Error Dialog Box ===================-->
    <div class="modal fade common-message in" id="paira-common-message" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success margin-bottom-20 margin-top-20 text-center font-size-14" role="alert">
                                <strong class="paira-common-message-details"><i class="fa fa-info-circle font-size-16"></i> Sorry, your are not able to access this site. We have age restriction!</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}