@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AdminComponents/_AdminLayout.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("BeerCharts", "Charts")" style="color: #767676">Beer Charts</a>
                        </span>
                        Area, Column, Pie
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("SpiritCharts", "Charts")" style="color: #767676">Spirit Charts</a>
                        </span>
                        Area, Column, Pie
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("WhiskeyCharts", "Charts")" style="color: #767676">Whiskey Charts</a>
                        </span>
                        Area, Column, Pie
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-bar-chart-o"></i></span>
                    <div class="mini-stat-info">
                        <span>
                            <a href="@Url.Action("WineCharts", "Charts")" style="color: #767676">Wine Charts</a>
                        </span>
                        Area, Column, Pie
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        Product Categories - Pie Chart
                        <span class="tools pull-right">
                            <a href="javascript:;" id="piechartbtn" class="fa fa-chevron-up"></a>
                        </span>
                    </header>
                    <div class="row panel-body">
                        <div class="col-md-12">
                            <div id="pieChartArea"></div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-6">
                <div class="profile-nav alt">
                    <section class="panel">
                        <div class="user-heading alt clock-row terques-bg">
                            <h1>@DateTime.Now.ToString("MMMM")</h1>
                            <p class="text-left">@DateTime.Now.Year, @DateTime.Now.ToString("dddd")</p>
                            <p class="text-left">@DateTime.Now.ToString("HH:mm")</p>
                        </div>
                        <ul id="clock">
                            <li id="sec"></li>
                            <li id="hour"></li>
                            <li id="min"></li>
                        </ul>

                        <ul class="clock-category">
                            <li>
                                <a href="#" class="active">
                                    <i class="fa fa-clock"></i>
                                    <span>Clock</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-warning"></i>
                                    <span>Alarm</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-stop"></i>
                                    <span>Stop watch</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-times-rectangle"></i>
                                    <span>Timer</span>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
        <div id="app"></div>
    </section>
</section>
<!--main content end-->

@section scripts{
    <script>
        $(document).ready(function () {
            $('#piechartbtn').click(function () {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("AllProductsChart", "Charts")',
                    dataType: "json",
                    success: function (data) {
                        var series = [
                            {
                                type: 'pie',
                                name: 'Quantity',
                                data: data
                            }];
                        createChart("#pieChartArea", "All Product Categories", series);
                    }
                });
            });
        });

        function createChart(chartcontainer, title, series) {
            $(chartcontainer).highcharts({
                charts: {
                    type: 'pie'
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor || 'black'),
                            }
                        }
                    }
                },
                series: series,
                title: {
                    text: title
                }
            });
        }
    </script>
}