@using Entities.Items


<!--=================== Ajax Cart Dialog ===================-->
<div class="modal fade paira-cart-popup" id="paira-ajax-cart" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    @if ((List<Item>)Session["cart"] != null)
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 cart-table">
                            <h3 class="margin-bottom-20 text-capitalize text-color-1">Shopping Cart</h3>
                            <div class="cart-table-inner text-center">

                                @foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    <div class="column full-width overflow paira-margin-bottom-4">
                                        <div class="row-1">
                                            <a href="product.html">
                                                <img src="@item.Product.PhotoUrl" alt="" class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="row-2"><p><a href="product.html">@item.Product.Name</a></p></div>
                                        <div class="row-3"><p>@item.Product.Price €</p></div>
                                        <div class="row-4">
                                            <div class="quantity">
                                                <div class="quantity-fix display-inline-b">
                                                    @if (item.Quantity > 1)
                                                    {
                                                        <a href="@Url.Action("ButtonDown", "Cart", new { id = item.Product.ProductId })" class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></a>
                                                    }
                                                    @if (item.Quantity == 1)
                                                    {
                                                        <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                                    }
                                                    <input type="text" value="@item.Quantity" class="text-center product_quantity_text">
                                                    <a href="@Url.Action("ButtonUp", "Cart", new { id = item.Product.ProductId })" class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-5">
                                            <p>
                                                <a href="@Url.Action("Remove", "Cart", new { id = item.Product.ProductId })" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                }

                                @{
                                    List<Item> cart = (List<Item>)Session["cart"];
                                    var total = cart.Sum(item => item.Product.Price * item.Quantity);

                                    double discount = 0;
                                    double newTotal = 0;
                                }

                                <!--Items End-->
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                            <div> 
                                    @if (total > 150)
                                    {
                                        discount = 0.85;
                                        newTotal = total * discount;
                                        <h3 class="text-color-1" style="text-decoration: line-through; color: indianred;">Total :   <span><b>@total€</b></span></h3>
                                        <h3 class="text-color-1">New Total : <span><b>@newTotal€</b></span></h3>
                                    }
                                    else if (total > 100)
                                    {
                                        discount = 0.88;
                                        newTotal = total * discount;
                                        <h3 class="text-color-1" style="text-decoration: line-through; color: indianred;">Total : <span><b>@total€</b></span></h3>
                                        <h3 class="text-color-1">New Total : <span><b>@newTotal€</b></span></h3>
                                    }
                                    else if (total > 50)
                                    {
                                        discount = 0.9;
                                        newTotal = total * discount;
                                        <h3 class="text-color-1" style="text-decoration: line-through; color: indianred;">Total : <span><b>@total€</b></span></h3>
                                        <h3 class="text-color-1">New Total : <span><b>@newTotal€</b></span></h3>
                                    }
                                    else
                                    {
                                        <h3 class="text-color-1">Total : <span><b>@total€</b></span></h3>
                                    }
                                <p class="margin-top-10 text-color-1">Shipping & tax calculate at checkout</p>
                                <a href="@Url.Action("Index", "Cart")" class="btn btn-success updat btn-lg text-uppercase margin-top-20 margin-left-20">CONTINUE SHOPPING</a>
                                <a href="@Url.Action("CreateOrder", "Checkout")" class="btn btn-default btn-lg text-uppercase checkout margin-top-20 margin-left-20">checkout</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Loading Image ===================-->
