@model BeverageProject.Models.ViewModels.NavViewModel
@using Entities.Items
@using System.Linq;

<style>
    .cart-image {
        height: 40px;
        width: 40px;
    }
</style>
<!--=================== Login Dialog ===================-->
<div class="modal fade paira-login-popup" id="paira-login" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="margin-bottom-30 text-capitalize">Customer Login</h3>
                        <form class="popup-login-form">
                            <input type="email" class="form-control" name="EMAIL" value="" placeholder="Email" />
                            <input type="password" class="form-control paira-margin-top-1" name="password" value="" placeholder="Password" />
                            <div class="forget-password text-right">
                                <a href="@Url.Action("ForgotPassword", "Account")" class="text-capitalize position-rela btn-border">Forgot Password?</a>
                                <button class="btn btn-success color-scheme-2 btn-lg text-uppercase paira-margin-top-1">Login</button>
                            </div>
                        </form>
                        <div class="new-customer text-right overflow">
                            <h3 class="text-capitalize display-inline-b position-rela margin-top-40"></h3>
                            <a href="@Url.Action("Create", "ApplicationUser")" class="btn btn-default pull-right btn-lg forget-password text-uppercase margin-top-40">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Header Container ===================-->
<header>
    <!--=================== Header Top Section ===================-->
    <section class="header-top margin-bottom-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-2 col-sm-2 col-xs-3">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/Content/images/Logo.png" alt="" class="img-responsive img-circle" style="height:90px; width:90px; margin-top:5px;">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <!--=================== Main Menu ===================-->
                        <nav class="navbar navbar-default paira-mega-menu mega-menu">
                            <div class="navbar-header">
                                <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="width-com">
                                <div id="navbar-collapse" class="navbar-collapse collapse ">
                                    <ul class="nav navbar-nav">
                                        <!--=================== Grid Mega Menu ===================-->
                                        <li class="dropdown paira-dropdown mega-menu-fw width-li">
                                            <a href="#">shop <i class="paira-angle-down angle-down fa fa-angle-down margin-left-5"></i></a>
                                            <ul class="dropdown-menu paira-dropdown-menu list-unstyled padding-clear">
                                                <li>
                                                    <div class="container">
                                                        <div class="row">
                                                            @foreach (var cat in Model.Categories.OrderBy(x => x.Title))
                                                            {
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0"><a href="@Url.Action("Index","ClientProducts", new {category = cat.Title })">@cat.Title</a></h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var prod in Model.Products.Where(x => x.Category == cat))
                                                                        {
                                                                            <li><a href=@Url.Action("Index", "ClientProducts",new {kind = prod.Kind, category = cat.Title})>@prod.Kind</a></li>
                                                                        }

                                                                    </ul>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <!--=================== Single Menu ===================-->
                                        <li class="width-li"><a href="@Url.Action("About", "Home")">About us</a></li>
                                        <li class="width-li"><a href="@Url.Action("Contact", "Home")">Contact us</a></li>
                                        <!--=================== Single Menu ===================-->
                                        @Html.Partial("_LoginPartial")
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <li class="width-li"><a href="@Url.Action("Index", "Dashboard")">Administrator</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <ul class="list-inline" style="margin-top:22px;">
                        <li class="dropdown cart-menu-body">
                            <a href="#" class="cart-menu-body">
                                @{ int sum = 0;}
                                @foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    sum += item.Quantity;
                                }
                                @if (sum != 0)
                                {
                                    <i class="fa fa-shopping-cart cart-image fa-3x"></i> 
                                    <span id="cartSum" class="badge cart-summary">@sum</span>
                                }
                            </a>
                        </li>     
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>