@model BeverageProject.Models.ViewModels.NavBarViewModel

<div class="paira-container">

    <!--=================== Login Dialog ===================-->
    <div class="modal fade paira-login-popup" id="paira-login" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="margin-bottom-30 text-capitalize">Customer Login</h3>
                            <form class="popup-login-form">
                                <input type="email" class="form-control" name="EMAIL" value="" placeholder="Email" />
                                <input type="password" class="form-control paira-margin-top-1" name="password" value="" placeholder="Password" />
                                <div class="forget-password text-right">
                                    <a href="@Url.Action("ForgotPassword", "Account")" class="text-capitalize position-rela btn-border">Forgot Password?</a>
                                    <button class="btn btn-success color-scheme-2 btn-lg text-uppercase paira-margin-top-1">Login</button>
                                </div>
                            </form>
                            <div class="new-customer text-right overflow">
                                <h3 class="text-capitalize display-inline-b position-rela margin-top-40"></h3>
                                <a href="@Url.Action("Create", "ApplicationUser")" class="btn btn-default pull-right btn-lg forget-password text-uppercase margin-top-40">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================== Header Container ===================-->
    <header>
        <!--=================== Header Top Section ===================-->
        <section class="header-top margin-bottom-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-3 col-xs-7 logo">
                            <a href="@Url.Action("Index", "Home")" class="text-center font-size-18"><i class="fa fa-glass fa-2x"></i><em><br />E-Beverage</em></a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <!--=================== Main Menu ===================-->
                            <nav class="navbar navbar-default paira-mega-menu mega-menu">
                                <div class="navbar-header">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="width-com">
                                    <div id="navbar-collapse" class="navbar-collapse collapse ">
                                        <ul class="nav navbar-nav">
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li"><a href="#" class="search-popup">Search</a></li>
                                            <!--=================== Grid Mega Menu ===================-->
                                            <li class="dropdown paira-dropdown mega-menu-fw width-li">
                                                <a href="#">shop <i class="paira-angle-down angle-down fa fa-angle-down margin-left-5"></i></a>
                                                <ul class="dropdown-menu paira-dropdown-menu list-unstyled padding-clear">
                                                    <li>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0">@Model.BeerCategories.FirstOrDefault().Title</h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.BeerCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Beer")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0">@Model.SpiritCategories.FirstOrDefault().Title</h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.SpiritCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Spirit")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0">@Model.WineCategories.FirstOrDefault().Title</h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.WineCategories)
                                                                        {
                                                                        <li><a href="@Url.Action("Index", "Wine")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0">@Model.WhiskeyCategories.FirstOrDefault().Title</h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.WhiskeyCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Whiskey")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li"><a href="@Url.Action("About", "Home")">About us</a></li>
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li"><a href="#" class="login-popup">login</a></li>
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li"><a href="@Url.Action("Register", "Account")">register</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3 cart">
                            <ul class="list-inline pull-right">
                                <li class="dropdown cart-menu-body">
                                    <a href="#" class="cart-menu-body">
                                        <img src="~/Content/images/cart.png" alt="">
                                        <span class="font-size-12">3</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>
<!--=================== Search Dialog ===================-->
<div class="modal fade paira-search-popup" id="paira-search" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12">
                        <form class="popup-search-form">
                            <input type="text" class="form-control padding-clear" name="q" value="" placeholder="Search..." />
                            <button class="btn btn-default btn-lg text-uppercase paira-margin-top-1 font-size-14">go to search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Ajax Cart Dialog ===================-->
<div class="modal fade paira-cart-popup" id="paira-ajax-cart" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 cart-table">
                        <h3 class="margin-bottom-20 text-capitalize text-color-1">Shopping Cart</h3>
                        <div class="cart-table-inner text-center">
                            <div class="column full-width overflow paira-margin-bottom-4">
                                <div class="row-1">
                                    <a href="product.html">
                                        <img src="~/Content/images/cart/cart-1.jpg" alt="" class="img-responsive center-block">
                                    </a>
                                </div>
                                <div class="row-2"><p><a href="product.html">Amber body lotion</a></p></div>
                                <div class="row-3"><p>$30.00</p></div>
                                <div class="row-4">
                                    <div class="quantity">
                                        <div class="quantity-fix display-inline-b">
                                            <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                            <input type="text" value="1" class="text-center product_quantity_text">
                                            <button class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-5">
                                    <p>
                                        <a href="#" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="column full-width overflow paira-margin-bottom-4">
                                <div class="row-1">
                                    <a href="product.html">
                                        <img src="~/Content/images/cart/cart-2.jpg" alt="" class="img-responsive center-block">
                                    </a>
                                </div>
                                <div class="row-2"><p><a href="product.html">Ceramic watch</a></p></div>
                                <div class="row-3"><p>$30.00</p></div>
                                <div class="row-4">
                                    <div class="quantity">
                                        <div class="quantity-fix display-inline-b">
                                            <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                            <input type="text" value="1" class="text-center product_quantity_text">
                                            <button class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-5">
                                    <p>
                                        <a href="#" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="column full-width overflow paira-margin-bottom-4">
                                <div class="row-1">
                                    <a href="product.html"><img src="~/Content/images/cart/cart-3.jpg" alt="" class="img-responsive center-block"></a>
                                </div>
                                <div class="row-2"><p><a href="product.html">Door bumper</a></p></div>
                                <div class="row-3"><p>$30.00</p></div>
                                <div class="row-4">
                                    <div class="quantity">
                                        <div class="quantity-fix display-inline-b">
                                            <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                            <input type="text" value="1" class="text-center product_quantity_text">
                                            <button class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-5">
                                    <p>
                                        <a href="#" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                        <div>
                            <h3 class="text-color-1">Subtotal : <span><b>$67.00</b></span></h3>
                            <p class="margin-top-10 text-color-1">Shipping & tax calculate at checkout</p>
                            <a href="#" class="btn-border text-color-1 text-uppercase margin-top-20">CONTINUE SHOPPING</a>
                            <a href="#" class="btn btn-success updat btn-lg text-uppercase margin-top-20 margin-left-20">update</a>
                            <a href="#" class="btn btn-default btn-lg text-uppercase checkout margin-top-20 margin-left-20">checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Loading Image ===================-->
<div class="paira-loading ajax-loading margin-clear text-center" style="display: none;">
    <img src="images/AjaxLoader.gif" alt="" class="padding-clear margin-top-10">
    <p><b>Loading...</b></p>
</div>
<!--=================== Quick View Dialog ===================-->
<!--<div class="modal fade" id="paira-quick-view" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="quick-view-detail">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="paira-product single-varients-product">
                                <div class="row">
                                    <div class="col-md-3 col-sm-5 col-xs-5 bx-carousel-fix paira-margin-top-1">
                                        <div class="quick-product-image-list paira-quick-product-image-list">
                                            <div><a href="#" data-image="images/product/product-14-big.png"><img src="images/product/product-14.png" alt="product-14" class="img-responsive center-block" /></a></div>
                                            <div><a href="#" data-image="images/product/product-15-big.png"><img src="images/product/product-15.png" alt="product-15" class="img-responsive center-block" /></a></div>
                                            <div><a href="#" data-image="images/product/product-16-big.png"><img src="images/product/product-16.png" alt="product-16" class="img-responsive center-block" /></a></div>
                                            <div><a href="#" data-image="images/product/product-14-big.png"><img src="images/product/product-14.png" alt="product-14" class="img-responsive center-block" /></a></div>
                                            <div><a href="#" data-image="images/product/product-15-big.png"><img src="images/product/product-15.png" alt="product-15" class="img-responsive center-block" /></a></div>
                                        </div>
                                    </div>
                                    <div class="single-product-image col-md-9 col-sm-7 col-xs-7 paira-margin-top-1 paira-quick-single-product-image">
                                        <img src="images/product/product-13.png" alt="" class="paira-product-image img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-12 padding-left-0">
                            <div class="product-detles">
                                <div class="pro-content">
                                    <div class="pro-body product-dtl">
                                        <div class="bottom-img">
                                            <div class="info">
                                                <h4 class="raleway-sbold full-width">$20.00</h4>
                                                <h4 class="raleway-light full-width text-capitalize margin-top-15">White Fruit Wine</h4>
                                                <p class="margin-top-15 letter-spacing-2 font-size-14">
                                                    Beverage Dynamics-Washington- "- Bright and supple with vibrant
                                                    flavors of red cherry, vanilla, and baking spices; from the mid-pala
                                                    a richly textured mouth-feel that coats the palate.
                                                </p>
                                                <div class="form-group margin-top-15 full-width">
                                                    <h4 class="font-size-14 letter-spacing-2 pull-left"><label class="text-uppercase"><b>vendor : </b></label></h4>
                                                    <select class="sort-by paira-filter-category">
                                                        <option value="/collections/camera">Carbon</option>
                                                        <option value="/collections/dslr-camera">Carbon</option>
                                                        <option value="/collections/headphone">Carbon</option>
                                                        <option value="/collections/ipad">Carbon</option>
                                                        <option value="/collections/iphone">Carbon</option>
                                                    </select>
                                                </div>
                                                <div class="form-group margin-top-15 full-width">
                                                    <h4 class="font-size-14 letter-spacing-2 pull-left"><label class="text-uppercase"><b>type : </b></label></h4>
                                                    <select class="sort-by paira-filter-category">
                                                        <option value="/collections/camera">Wine</option>
                                                        <option value="/collections/dslr-camera">Wine</option>
                                                        <option value="/collections/headphone">Wine</option>
                                                        <option value="/collections/ipad">Wine</option>
                                                    </select>
                                                </div>
                                                <div class="form-group margin-top-15 full-width">
                                                    <h4 class="font-size-14 letter-spacing-2 pull-left"><label class="text-uppercase"><b>size : </b></label></h4>
                                                    <select class="sort-by paira-filter-category">
                                                        <option value="/collections/camera">250ml</option>
                                                        <option value="/collections/dslr-camera">250ml</option>
                                                        <option value="/collections/headphone">250ml</option>
                                                        <option value="/collections/ipad">250ml</option>
                                                        <option value="/collections/iphone">250ml</option>
                                                    </select>
                                                </div>
                                                <div class="form-group margin-top-15 full-width">
                                                    <h4 class="font-size-14 letter-spacing-2 pull-left"><label class="text-uppercase"><b>material : </b></label></h4>
                                                    <select class="sort-by paira-filter-category">
                                                        <option value="/collections/camera">Rose</option>
                                                        <option value="/collections/dslr-camera">Rose</option>
                                                        <option value="/collections/headphone">Rose</option>
                                                        <option value="/collections/ipad">Rose</option>
                                                    </select>
                                                </div>
                                                <div class="quantity margin-top-15 display-inline-b full-width">
                                                    <h4 class="font-size-14 letter-spacing-2 pull-left"><label class="text-uppercase pull-left"><b>Quantity : </b></label></h4>
                                                    <div class=" full-width">
                                                        <div class="product_quantity_group product-quantity-fix">
                                                            <input type="text" class="form-control text-center pull-left font-size-16" value="2">
                                                            <div class="up-down text-center pull-left overflow">
                                                                <span class="up" data-direction="up"><i class="fa fa-angle-up"></i></span>
                                                                <span class="down" data-direction="down"><i class="fa fa-angle-down"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sub-totals margin-top-15 full-width">
                                                    <h4 class="font-size-14 letter-spacing-2 pull-left"><label class="text-uppercase pull-left margin-right-10"><b>Subtotal : </b></label></h4>
                                                    <h4 class="money margin-left-5">$40.00</h4>
                                                </div>
                                                <div class="btn-group paira-margin-top-4 full-width pull-left" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-default btn-lg btn-image"><img src="images/cart-3.png" alt=""></button>
                                                    <button type="button" class="btn btn-default btn-lg color-scheme-2 raleway-light text-uppercase">add to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->