@model BeverageProject.Models.ViewModels.NavBarViewModel

<div class="paira-container">

    <!--=================== Login Dialog ===================-->
    <div class="modal fade paira-login-popup" id="paira-login" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="margin-bottom-30 text-capitalize">Customer Login</h3>
                            <form class="popup-login-form">
                                <input type="email" class="form-control" name="EMAIL" value="" placeholder="Email" />
                                <input type="password" class="form-control paira-margin-top-1" name="password" value="" placeholder="Password" />
                                <div class="forget-password text-right">
                                    <a href="@Url.Action("ForgotPassword", "Account")" class="text-capitalize position-rela btn-border">Forgot Password?</a>
                                    <button class="btn btn-success color-scheme-2 btn-lg text-uppercase paira-margin-top-1">Login</button>
                                </div>
                            </form>
                            <div class="new-customer text-right overflow">
                                <h3 class="text-capitalize display-inline-b position-rela margin-top-40"></h3>
                                <a href="@Url.Action("Create", "ApplicationUser")" class="btn btn-default pull-right btn-lg forget-password text-uppercase margin-top-40">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================== Header Container ===================-->
    <header>
        <!--=================== Header Top Section ===================-->
        <section class="header-top margin-bottom-30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-2 col-sm-3 col-xs-7 logo">
                            <a href="@Url.Action("Index", "Home")" class="text-center font-size-18"><i class="fa fa-glass fa-2x"></i><em><br />E-Beverage</em></a>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <!--=================== Main Menu ===================-->
                            <nav class="navbar navbar-default paira-mega-menu mega-menu">
                                <div class="navbar-header">
                                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="width-com">
                                    <div id="navbar-collapse" class="navbar-collapse collapse ">
                                        <ul class="nav navbar-nav">
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li"><a href="#" class="search-popup">Search</a></li>
                                            <!--=================== Grid Mega Menu ===================-->
                                            <li class="dropdown paira-dropdown mega-menu-fw width-li">
                                                <a href="#">shop <i class="paira-angle-down angle-down fa fa-angle-down margin-left-5"></i></a>
                                                <ul class="dropdown-menu paira-dropdown-menu list-unstyled padding-clear">
                                                    <li>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0"><a href="@Url.Action("Index","Beer")">@Model.BeerCategories.FirstOrDefault().Title</a></h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.BeerCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Beer")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0"><a href="@Url.Action("Index","Spirit")">@Model.SpiritCategories.FirstOrDefault().Title</a></h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.SpiritCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Spirit")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0"><a href="@Url.Action("Index","Wine")">@Model.WineCategories.FirstOrDefault().Title</a></h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.WineCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Wine")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-12 clearfix">
                                                                    <h4 class="margin-bottom-0"><a href="@Url.Action("Index","Whiskey")">@Model.WhiskeyCategories.FirstOrDefault().Title</a></h4>
                                                                    <ul class="list-unstyled mega-submenu-fix">
                                                                        @foreach (var cat in Model.WhiskeyCategories)
                                                                        {
                                                                            <li><a href="@Url.Action("Index", "Whiskey")?category=@cat.Kind">@cat.Kind</a></li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li"><a href="@Url.Action("About", "Home")">About us</a></li>
                                            <!--=================== Single Menu ===================-->
                                            <li class="width-li" style=" display:flex; justify-content: start; align-items: center;"><a href="@Url.Action("Create", "ApplicationUser")">Register</a><a href="@Url.Action("Login", "Account")">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-3 cart">
                            <ul class="list-inline pull-right">
                                <li class="dropdown cart-menu-body">
                                    <a href="#" class="cart-menu-body">
                                        <img src="~/Content/images/cart.png" alt="">
                                        <span class="font-size-12">3</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</div>
<!--=================== Search Dialog ===================-->
<div class="modal fade paira-search-popup" id="paira-search" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12">
                        <form class="popup-search-form">
                            <input type="text" class="form-control padding-clear" name="q" value="" placeholder="Search..." />
                            <button class="btn btn-default btn-lg text-uppercase paira-margin-top-1 font-size-14">go to search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Ajax Cart Dialog ===================-->
<div class="modal fade paira-cart-popup" id="paira-ajax-cart" tabindex="-1" role="dialog" aria-hidden="false" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 cart-table">
                        <h3 class="margin-bottom-20 text-capitalize text-color-1">Shopping Cart</h3>
                        <div class="cart-table-inner text-center">
                            <div class="column full-width overflow paira-margin-bottom-4">
                                <div class="row-1">
                                    <a href="product.html">
                                        <img src="~/Content/images/cart/cart-1.jpg" alt="" class="img-responsive center-block">
                                    </a>
                                </div>
                                <div class="row-2"><p><a href="product.html">Amber body lotion</a></p></div>
                                <div class="row-3"><p>$30.00</p></div>
                                <div class="row-4">
                                    <div class="quantity">
                                        <div class="quantity-fix display-inline-b">
                                            <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                            <input type="text" value="1" class="text-center product_quantity_text">
                                            <button class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-5">
                                    <p>
                                        <a href="#" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="column full-width overflow paira-margin-bottom-4">
                                <div class="row-1">
                                    <a href="product.html">
                                        <img src="~/Content/images/cart/cart-2.jpg" alt="" class="img-responsive center-block">
                                    </a>
                                </div>
                                <div class="row-2"><p><a href="product.html">Ceramic watch</a></p></div>
                                <div class="row-3"><p>$30.00</p></div>
                                <div class="row-4">
                                    <div class="quantity">
                                        <div class="quantity-fix display-inline-b">
                                            <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                            <input type="text" value="1" class="text-center product_quantity_text">
                                            <button class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-5">
                                    <p>
                                        <a href="#" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="column full-width overflow paira-margin-bottom-4">
                                <div class="row-1">
                                    <a href="product.html"><img src="~/Content/images/cart/cart-3.jpg" alt="" class="img-responsive center-block"></a>
                                </div>
                                <div class="row-2"><p><a href="product.html">Door bumper</a></p></div>
                                <div class="row-3"><p>$30.00</p></div>
                                <div class="row-4">
                                    <div class="quantity">
                                        <div class="quantity-fix display-inline-b">
                                            <button class="btn-default btn" data-direction="down"><i class="fa fa-angle-down"></i></button>
                                            <input type="text" value="1" class="text-center product_quantity_text">
                                            <button class="btn-success btn" data-direction="up"><i class="fa fa-angle-up"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-5">
                                    <p>
                                        <a href="#" class="remove"><i class="fa fa-trash fa-2x"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 pull-right text-right">
                        <div>
                            <h3 class="text-color-1">Subtotal : <span><b>$67.00</b></span></h3>
                            <p class="margin-top-10 text-color-1">Shipping & tax calculate at checkout</p>
                            <a href="#" class="btn-border text-color-1 text-uppercase margin-top-20">CONTINUE SHOPPING</a>
                            <a href="#" class="btn btn-success updat btn-lg text-uppercase margin-top-20 margin-left-20">update</a>
                            <a href="#" class="btn btn-default btn-lg text-uppercase checkout margin-top-20 margin-left-20">checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================== Loading Image ===================-->
<div class="paira-loading ajax-loading margin-clear text-center" style="display: none;">
    <img src="~/Content/images/AjaxLoader.gif" alt="" class="padding-clear margin-top-10">
    <p><b>Loading...</b></p>
</div>