@model Entities.Products.Wine

@{
    ViewBag.Title = "Details";
}

<!--=================== Main Content Container ===================-->
<main class="product-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="#" class="raleway-light">Home <i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">White fruit wine</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Product Section ===================-->
    <section class="single-product paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="paira-product single-varients-product">
                        <div class="row">
                            <div class="single-product-image col-md-9 col-sm-9 col-xs-9 paira-single-product-image">
                                <img src=@Html.DisplayNameFor(model => model.PhotoUrl) alt="" class="paira-product-image img-responsive">
                                <a href="#" data-toggle="modal" data-target=".image-popup">
                                    <i class="fa fa-plus fa-2x img-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 product-dtl">
                    <div class="product-detles">
                        <div class="pro-content">
                            <div class="pro-body">
                                <div class="bottom-img">
                                    <div class="info">
                                        @*<a href="#" class="toggle-button"><i class="fa fa-angle-right fa-2x"></i></a>*@
                                        <h3 class="raleway-sbold full-width"> @Html.DisplayFor(model => model.Price)</h3>
                                        <h2 class="raleway-light full-width text-capitalize margin-top-20">  @Html.DisplayFor(model => model.Name)</h2>
                                        <p class="margin-top-15 letter-spacing-2">
                                            @Html.DisplayFor(model => model.Description)
                                        </p>
                                        <div class="quantity paira-margin-top-1 display-inline-b full-width pull-left">
                                            <h4 class="font-size-16 letter-spacing-2 pull-left">
                                                <label class="text-uppercase pull-left"><b>Quantity : </b></label>
                                            </h4>
                                            <div class="pull-left">
                                                <div class="product_quantity_group product-quantity-fix">
                                                    <input type="text" class="form-control text-center pull-left font-size-16" value="2">
                                                    <div class="up-down text-center pull-left overflow">
                                                        <span class="up" data-direction="up"><i class="fa fa-angle-up"></i></span>
                                                        <span class="down" data-direction="down"><i class="fa fa-angle-down"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sub-totals paira-margin-top-1 full-width pull-left">
                                            <h4 class="font-size-16 letter-spacing-2 pull-left">
                                                <label class="text-uppercase pull-left margin-right-10"><b>Subtotal : </b></label>
                                            </h4>
                                            <h3 class="money margin-left-5 pull-left raleway-sbold">$40.00</h3>
                                        </div>
                                        <div class="btn-group paira-margin-top-1 half-width pull-left" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-default btn-lg btn-image"><img src="~/Content/images/cart-3.png" alt=""></button>
                                            <button type="button" class="btn btn-default btn-lg color-scheme-2 raleway-light text-uppercase">add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>