@model PagedList.IPagedList<Entities.Products.Product>
@using PagedList.Mvc;
@using PagedList;

<main class="collection-page">
    <!--=================== Breadcrumb Section ===================-->
    <section class="breadcrumb-container paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumb">
                        <ul class="list-inline">
                            <li><a href="@Url.Action("Index", "Home")" class="raleway-light">Home <i class="fa fa-angle-right"></i></a></li>
                            <li class="raleway-sbold">@ViewBag.Category</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <img alt="" class="paira-margin-bottom-1" src="~/Content/images/hedding.png">
                <h3 class="text-uppercase raleway-light margin-clear paira-margin-bottom-1">@ViewBag.Category</h3>
            </div>
        </div>
    </div>
    <!--=================== Big Banner Section ===================-->
    <section class="big-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <img src="~/Content/images/banner/banner-1.jpg" class="img-responsive paira-margin-top-1" alt="">
                    <h1 class="text-uppercase">@ViewBag.Category FOR PARTY</h1>
                </div>
            </div>
        </div>
    </section>
    <!--=================== Product Section ===================-->
    <section class="latest-product text-center paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="synconis paira-margin-bottom-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4 text-center paira-margin-top-1">
                                <ul class="list-group list-group-horizontal pull-left">
                                    <li class="list-group-item" style="font-size:18px; border-style:none">SORT BY: </li>
                                    <li class="list-group-item"><a href="@Url.Action("IndexCollection", "ProductsView", new {sortOrder=ViewBag.ND,category = ViewBag.Category,kind = ViewBag.Kind },null)">Name ↓↑</a></li>
                                    <li class="list-group-item"><a href="@Url.Action("IndexCollection", "ProductsView", new {sortOrder=ViewBag.PD,category = ViewBag.Category,kind = ViewBag.Kind },null)">Price ↓↑</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 text-center paira-margin-top-1">
                                <form style="margin-left:140px; margin-top:5px;" class="form-inline" action="/ProductsView/IndexCollection?category=@ViewBag.Category&kind=@ViewBag.Kind" method="post">
                                    <i class="fa fa-search input-group" style="font-size:2rem;"></i>
                                    <input class="form-control mr-sm-2" id="searchProduct" type="text" name="searchProduct" value="@ViewBag.searchProduct" placeholder="Search" style="background-color:white; border-radius:30px" />
                                </form>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4 paira-margin-top-1 pull-right">
                                <div class="form-group margin-clear pull-right list-grid margin-top-10 float-0">
                                    <h4 class="font-size-18 bold-font pull-left"><label class="text-uppercase"><b>View :</b></label></h4>
                                    <button data-value="list" class="active list" onclick="location.href='@Url.Action("Index", "ProductsView", new {category=ViewBag.Category,kind= ViewBag.Kind},null)'"><i class="fa fa-th-list fa-2x"></i></button>
                                    <button data-value="grid"><i class="fa fa-th fa-2x"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-widget">
                    @foreach (var product in Model)
                    {
                        <div class="col-sm-3 col-md-3 col-xs-6 paira-margin-top-1">
                            <div class="product text-center">
                                <div class="block-image position-rela">
                                    <a href="@Url.Action("Details", "ProductsView", new { id = product.ProductId })">
                                        <div class="background-overlay"></div>
                                        <img src=@Html.DisplayFor(modelItem => product.PhotoUrl) alt="" class="img-responsive">
                                    </a>
                                </div>
                                <h1 class="font-size-16 paira-margin-top-4 margin-bottom-10"><a href="@Url.Action("Details","ProductsView",new {id = product.ProductId})">@Html.DisplayFor(modelItem => product.Name)</a></h1>
                                <span class="money font-size-16"><b>@Html.DisplayFor(modelItem => product.Price)€</b></span>
                                <div class="product-hover">
                                    <div class="paira-wish-compare-con wish-compare-view-cart paira-margin-top-4">
                                        <a href="@Url.Action("Details", "ProductsView", new { id = product.ProductId })" class="paira-quick-view quick-view  btn color-scheme-2 font-size-18"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("Buy", "Cart", new { id = product.ProductId })" class="product-cart-con margin-left-5  btn color-scheme-2"><img src="~/Content/images/cart-2.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!--=================== Panigation List Section ===================-->
    <section class="page-list paira-padding-bottom-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    @Html.PagedListPager(Model, x => Url.Action("IndexCollection", "ProductsView", new { page = x, category = ViewBag.Category, kind = ViewBag.Kind }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
        </div>
    </section>

    <button id="backToTop" class="fa fa-arrow-up fa-2x"></button>
</main>

